<!DOCTYPE html>
<html lang="id">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Tentang Kami</title>
</head>
<body style="background-color:lightblue;">
	<h1>Tentang Kami</h1>
	<hr align="center">
	<p>
		Halo! Perkenalkan kami dari kelompok :V, atau sebut saja, titik dua V.
		Anggota-anggotanya ialah...
		<ol>
			<li> Syihabuddin Yahya Muhammad - 13519149 </li>
			<li> Nabil Nabighah - 13519168 </li>
			<li> Allief Nuriman - 13519221 </li>
		</ol>
		Jadi kami adalah orang-orang di balik Mesin Pencari ini, Mesin Pencari ini dibuat untuk memenuhi tugas besar II mata kuliah IF2123 Aljabar Linear dan Geometri.
		<br>
	</p>
	<p>
		Kami bisa dihubungi di:
		<ol>
			<li> Syihab: <a href = mailto:13519149@std.stei.itb.ac.id>13519149@std.stei.itb.ac.id</a> </li>
			<li> Nabil: <a href = mailto:13519168@std.stei.itb.ac.id>13519168@std.stei.itb.ac.id</a> </li>
			<li> Alif: <a href = mailto:13519221@std.stei.itb.ac.id>13519221@std.stei.itb.ac.id</a> </li>
		</ol>
	</p>
	<hr align="center">
	<div align="right">
		<a href = index.html align="center">Halaman Utama</a>
	</div>
	<div align="right">
		<a href = howtouse.html>Cara Pakai</a>
	</div>
</body>
</html>