<!DOCTYPE html>
<html lang="id">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Cara Pakai</title>
</head>
<body>
	<h1>Cara Pakai</h1>
	<hr align="center">
	<p>
		Tinggal ketik apa yang mau dicari, terus pencet enter di papan ketik.
		Udah.
	</p>
	<p>
		Kami bisa dihubungi di:
		<ol>
			<li> Syihab: <a href = mailto:13519149@std.stei.itb.ac.id>13519149@std.stei.itb.ac.id</a> </li>
			<li> Nabil: <a href = mailto:13519168@std.stei.itb.ac.id>13519168@std.stei.itb.ac.id</a> </li>
			<li> Alif: <a href = mailto:13519221@std.stei.itb.ac.id>13519221@std.stei.itb.ac.id</a> </li>
		</ol>
</body>
</html>