<!DOCTYPE html>
<html lang="id">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Halaman Utama</title>
</head>
<body>
	<div align="center">
		<img src=logo.jpg>
	</div>
	<div align="center">
		<input type="text" name="" placeholder="Type to search">
		<a class=""href="#"></a>
	</div align="center">
	<br>
	<div align="center">
			<a href = aboutus.html align="center">Tentang Kami</a>
	</div>
	<br>
	<div align="center">
			<a href = howtouse.html>Cara Pakai</a>
	</div>
</body>
</html>