<!DOCTYPE html>
<html lang="id">
<head>
	<style>
		.search-box input {
			height: 25px;
			width: 300px;
		}
	</style>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Halaman Utama</title>
</head>
<body style="background-color:lightblue;">
	<br><br><br><br><br><br>
	<div align="center">
		<b><big><h1><big><big>SEARCH ENGINE :V</big></big></h1></big></b>
	</div>
	<div align="center" class="container">
		<form method="POST" enctype="multipart/form-data">
		<div class ="form-group">
			<label for="inputFile">File input</label>
			<input type="file" name="Fileinput" multiple>
			<button type="submit" class="btn btn-default" value = submit>Submit</button>
		</div>
		</form>
	</div>
	<br>
	<div align="center" class="search-box">
		<form method="POST" action= "result.html" enctype="multipart/form-data">
			<input type="text" name="q" placeholder="Search...">
			<br><br>
			<a><button type="submit" class="btn btn-default" value ="submit">Cari!</button></a>
		</form>
</form>
	</div>
	<br>
	<div align="center">
			<a href = aboutus.html align="center">Tentang Kami</a>
	</div>
	<br>
	<div align="center">
			<a href = howtouse.html>Cara Pakai</a>
	</div>
</body>
</html>